// =====================================================================
// Dependencies
script(src= 'vendors/jquery/dist/jquery.min.js')
script(src= 'vendors/bootstrap/dist/js/bootstrap.min.js')
script(src= 'vendors/responsive.js/app/scripts/od-responsive.js')

// =====================================================================
// Main flow
script(src= 'scripts/main.js')
